@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">capybara</h1>
        <img src="img/bae5f36e183994062d68668804819cf7.jpg"/>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>